
form, input, label{
  display: block;
}

.form{
  background-color:#fff;
  position: absolute;
  display: flex;
  flex-direction: column;
  right: 0;
  bottom: 0;
  margin: 1rem;
  padding: 1.5rem;
  border-radius: 0.4rem;
  box-shadow: 2px 2px 8px rgba(0, 0, 0, 0.1);
  max-width: 30%;
}
.form h1 {
  font-family: 'Poppins', sans-serif;
  color: var(--corEscura);
  text-transform: uppercase;
  font-size: 1rem;
}
.form h1::after{
  content: "";
  width: 4rem;
  height: 0.2rem;
  display: block;
  background-color: var(--corPrincipal);
}
.form label {
  font-family: 'Poppins', sans-serif;
  max-width: fit-content;
  margin-top: 1rem;
  font-size: 0.9rem;
  color: var(--corEscura);
}
.form input{
  background: #fafec9;
  border: var(--corPrincipal) solid 0.1px;
  border-radius: 0.4rem;
  padding: 0.4rem;
  font-family: 'Poppins', sans-serif;;
}
.form input:focus, .form input:active{
   border: var(--corPrincipal) solid 0.2px;
   background-color: #f3fc9a;
 }
form .submeter{
  background: linear-gradient(#8fa907,#55650f);
  border: none;
  margin-top: 1rem;
  padding: 0.5rem 1rem;
  text-transform: uppercase;
  font-family: 'Poppins', sans-serif;
  font-weight: 500;
  color: #fff;
  transition: transform 0.2;
}
form .submeter:hover{
  transform: scale(1.1);
}
@media only screen and (max-width: 860px) {
  .form{
    display: none;
  }
}